@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;400;500;600&display=swap');
@font-face {
  font-family: t1;
  src: url(https://fonts.gstatic.com/s/anticdidone/v16/RWmPoKKX6u8sp8fIWdnDKqDSroEHJmNjCg.woff2) format('woff2');
  unicode-range: U+0030-0039;
}
// config
@import "./config/reset";
@import "./config/variables";
@import "./config/typography";
@import "./config/reboot";
@import "./config/mixins";
@import "./config/reusable";