.newsLetter__content{
	display: flex;
	justify-content: space-between;
  align-items: center;
	padding: 1.5rem;
	background-color: #4B4B4A;
}
.newsLetter__description{
	color: #fff;
	font-size: 0.5rem;
  &--newline{
    @include xs-devices{
      display: block;
    }
  }
}
.newsLetter__button{
	color: #fff;
	font-size: 0.5rem;
  @include xs-devices{
    width: 2rem;
  }
}
.info__container{
  display: flex; 
  justify-content: center;
  align-items: center;
  padding: 2rem;
  @include xs-devices{
    flex-wrap: wrap;
  }
}
.info__Content{
  padding: 3rem;
}
.info__title{
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
.info__data{
  font-family: $fix-font;
  font-size: 1rem;
  line-height: 1.5rem;
}
.copyright{
  padding: 1.5rem;
  line-height: 1.5rem;
  @include xs-devices{
    text-align: center;
  }
}
