.cartBtnContainer{
  position: fixed;
  bottom: 7%;
  right: 5%;
  width: 35%;
  z-index: 9;
  background: #E6BEAE;
  border-radius: 1rem;
  clip-path: circle(2rem at 2rem 2rem);
  transform: rotate(180deg);
  transition: all .5s ease-in-out;
  &:hover {
    clip-path: circle(75%);
    background: #EEE4E1;
    border: 1px solid #000;
  }
  &:hover .cartIcon{
    display: none;
  }
  // &:hover .cart__icon{
  //   fill: transparent;
  // }
  // &:hover .cartNum {
  //   background-color: transparent;
  //   color: transparent;
  // }
}
.rotate{
  transform: rotate(180deg);
}
.cartBtn-title{
  padding: 1.5rem 2rem;
  // padding-bottom: 0;
}

.cartItemContainer {
  position: relative;
  padding: 0 1rem;
  border-radius: 10px;
  // width: 250px;
  max-height:450px;
  overflow-y: auto;
  li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #000;
  }
}
.cartItem{
  a{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .cartItem-Price{
    display: flex;
    justify-content: center;
    align-items: center;
    .times{
      padding: 0 .5rem;
    }
  }
}
.cartItem-img{
  max-height: 3.625rem;
  margin-right: 1.25rem
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.btnContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.cartBtn{
  padding: .5rem 1rem;
  border: 1px solid #000;
  border-radius: .5rem;
  line-height: normal;
  cursor: pointer;
  background-color: #E6BEAE;
  &:hover{
  border: 1px solid #E6BEAE;
  background-color: #EEE4E1;
  }
}
.cartIcon{
  position: absolute;
  bottom: -3px;
  right: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  cursor: pointer;
}
.cartNum{
  position: absolute;
  top: 8px;
  right: 13px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #E6BEAE;
  text-align: center;
}
.cart__icon {
  width: 2rem;
  height: 2rem;
  fill:#fff;
  transition: fill .5s;
}