.cart-Btn{
  position: fixed;
  bottom: 7%;
  right: 5%;
  min-width: 380px;
  z-index: 9;
  background: $primary-color-lighter;
  border-radius: 1rem;
  clip-path: circle(2rem at 2rem 2rem);
  transform: rotate(180deg);
  transition: all .5s ease-in-out;
  &:hover {
    clip-path: circle(75%);
    background: $primary-color-lightest;
    border: 2px solid $primary-color-light;
  }
  &:hover .cart__icon{
    visibility: hidden;
  }
  &:hover .cart__link{
    visibility: visible
  }
  @include xs-devices{
    width: 80%;
  }
  @include xxs-devices{
    width: 90%;
  }
}
.cart-Btn--rotate{
  transform: rotate(180deg);

}
.cartBtn__title{
  font-size: $big-font-size;
  color: $black-color-light;
  padding: 1.5rem 2rem;
  border-bottom: 2px solid $primary-color-light;
}

.cart__item__container{
  position: relative;
  padding: 0 1rem;
  border-radius: 10px;
  // width: 250px;
  max-height:450px;
  overflow-y: auto;
}
.cart__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid $primary-color-light;
}
.cart__item__info{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}
.cart__item__thumbnail{
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: $gray-color;
  margin-right: 1.25rem
}
.cart__item__img{
  max-height: 3rem;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.cart__item__name{
  width: 70%;
}
.cart__item__price{
  margin-left: 1rem;
}
.cart__total-price{
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
}
.cart__total-price__title,.cart__total-price__price{
  font-size: $big-font-size;
}
.btnContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
}
.cart__link{
  padding: .5rem 1rem;
  border: 2px solid $primary-color-light;
  border-radius: .5rem;
  line-height: normal;
  cursor: pointer;
  visibility: hidden;
  background-color: $white-color-dark;
  transition: .3s;
  &:hover{
  background-color: $primary-color-light;
  color: $white-color-dark;
  }
}
.cart__icon{
  position: absolute;
  bottom: -1rem;
  right: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem;
  cursor: pointer;
  & .symbol-icon{
    width: 2rem;
    height: 2rem;
    fill:$white-color;
    transition: fill .5s;
  }
}
.cart__num{
  position: absolute;
  top: 8px;
  right: 13px;
  width: 20px;
  background-color: $white-color;
  border-radius: 50%;
  color: $primary-color-light;
  text-align: center;
}