.loading__container{
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-color-lighter-opacity;
  z-index: 102;
}
.loading__pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}
.cup-group{  
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(4px)
}
.cup {
  position: relative;
  width: 4.8rem;
  height: 3.5rem;
  border: 5px solid $black-color;
  border-radius: 15% 15% 35% 35%;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.cup-handle{
  width: 1.2rem;
  height: 1.5rem;
  border: 5px solid $black-color;
  border-left: none;
  transform: translateY(-5px);
  border-radius: 0 20% 60% 0%;

}
.plate-group{
  display: flex;
}
.plate--front{
  width: 5rem;
  height: 5px;
  margin-right: .5rem;
  border-radius: 5px;
  background-color: $black-color;
}
.plate--hind{
  width: 1.5rem;
  height: 5px;
  border-radius: 5px;
  background-color: $black-color;
}
.coffee{
  width: 100%;
  height: 100%;
  background: #C99B6B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coffee::after {
  content: "";
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: $primary-color-lightest;
  border-radius: 40% ;
  animation: coffee 5s ease-in-out infinite;
}

.loading__content{
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: .5rem;
  @include xxs-devices{
    flex-direction: column;
  }
}
.title{
  font-size: 1.5rem;
  color: $primary-color;
  font-weight: 600;
  padding: 1rem;
  animation: bounce .5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
  @include xxs-devices{
    margin-bottom: 0.5rem;
  }
}
.bounce-ball{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 150px;
}
.ball{
  width: 1rem;
  height: 1.2rem;
  background-color: #67361E;
  border-radius: 50%;
  animation: bounce-rotate .5s cubic-bezier(.19,.57,.3,.98) infinite alternate;
}
.ball:nth-child(1){
  opacity: 0.4;
}
.ball:nth-child(2){
  animation-delay: .1s;
  opacity: 0.6;
}
.ball:nth-child(3){
  animation-delay: .2s;
  opacity: 0.8;
}
.ball:nth-child(4){
  animation-delay: .3s;
}
@keyframes coffee {
  0% {
    transform: translateY(-35%) rotate(0deg);
  }
  45% {
    transform: translateY(-56%) rotate(360deg);
  }
  75% {
    transform: translateY(-48%) rotate(360deg);
  }
  100% {
    transform: translateY(-35%) rotate(360deg);
  }
}
@keyframes bounce{
  from {
    transform: translateY(.5rem)
  }
  to {
    transform: translateY(-1rem)
  }
}
@keyframes bounce-rotate {
  from {
    transform: translateY(.5rem) rotate(-45deg)
  }
  to {
    transform: translateY(-1rem) rotate(-45deg)
  }
}