input[type="radio"] {
  display: none;
}
input[type="radio"] + span {
  display: inline-block;
  background-color: #eee;
  padding: .5rem 1.5rem;
  border: 1px solid gray;
  border-radius: .5rem;
  color: #444;
  user-select: none;  //防止文字被滑鼠選取反白
}
input[type="radio"]:checked + span {
  background-color: $primary-color;
  color: #fff;
  transition: .5s;
}
.product-modal__container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
}
.product-modal--close{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  cursor: default;
  background-color: #777e;
}
.product-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 860px;
  padding: 1rem;
  @include s-devices{
    width: 100%;
    box-shadow: 0 0 35px 1px rgba(0, 0, 0, 0.2);
  }
}
.product-modal__background--close{
  display: none;
  z-index: 99;
  cursor: pointer;
  @include s-devices{
    display: block;
  }
}
.product-modal__background{
  position: relative;
  width: 50%;
  height: 475px;
  padding: 1rem;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
              0 -15px 35px rgba(0, 0, 0, 0.1),
              0 15px 35px rgba(0, 0, 0, 0.1);
  transition: .5s;
  @include s-devices{
    position: absolute;
    transform: translateX(-30%);
    opacity: 0;
  }
  &--show{
    @include s-devices{
      opacity: 1;
      z-index: 100;
    }
  }
}
.product-modal__color{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var( --productInfoColor )
}
.product-modal__return-btn{
  display: none;
  @include s-devices{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    z-index: 150;
    & .symbol-icon{
      fill:$primary-color;
    }
    &:hover{
      transform: scale(1.08);
    }
  }
}
.product-modal__logo-name{
  position: absolute;
  top: 4rem;
  left: 1rem;
  margin: 0;
  font-size: 9rem;
  text-transform: uppercase;
  line-height: 1.1;
  color: #fff;
  opacity: .5;
  user-select: none;
}
.product-modal__img{
  position: absolute;
  width: 500px;
  top: 5rem;
  left: -10%;
  @include xs-devices{
  width: 90vw;
  }
}
.product-modal__img__coffee-beans{
  position: absolute;
  width: 300px;
  top: -8rem;
  left: 4rem;
  transform: rotate(-5deg);
  @include s-devices{
  }
}

.product-modal__content{
  width: 50%;
  background-color: #fff;
  z-index: 1;
  padding: 2rem 2.5rem;
  box-shadow: 15px 0 35px rgba(0, 0, 0, 0.1),
  0 -15px 35px rgba(0, 0, 0, 0.1),
  0 15px 35px rgba(0, 0, 0, 0.1);
  @include s-devices{
    width: 80%;
    padding: 1.5rem 2rem;
  }
}
.product-modal__btn__container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @include s-devices{
    justify-content: space-between;
  }
}
.product-modal__img-close-btn{
  display: none;
  cursor: pointer;
  @include s-devices{
    display: flex;
    align-items: flex-end;
    z-index: 100;
    & .symbol-icon{
      transition: .3s;
    }
    & p{
      margin-left: 0.5rem;
      transition: .3s;
    }
    &:hover .symbol-icon{
      // transition: .3s;
      fill: $primary-color;
    }
    &:hover p{
      color: $primary-color;
    }
  }
}
.product-modal__close-btn{
  display: flex;
  & .symbol-icon{
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
}
.product-modal__title{
  padding: 0 0 1rem 0;
}
.product-modal__title__brand{
  font-weight: 500;
  color: #444;
  text-transform: capitalize;
}
.product-modal__title__name{
  padding-top: 1rem;
  color: #333;
  line-height: 1;
}

.product-modal__item{
  border-bottom: 1px solid #dadada;
}

.product-modal__info{
  padding: 1rem 0;
}

.product-modal__item-title{
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.2rem;
}

.product-modal__description{
  white-space: pre-wrap;
  color: #666;
  font-size: 1rem;
  padding: .5rem 0;
}
.product-modal__coffee-only{
  // @include s-devices{
  //   display: flex;
  // }
}
.product-modal__option{
  padding: 1rem 0;
}

.product-modal__option__container{
  padding: .5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.product-modal__option-quantity {
  display: flex;
  user-select: none;
}
.product-modal__count{
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color:#888a ;
    .symbolIcon{
      fill: #fff;
    }
  }
}
.product-modal__value {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  width: 60px;
  border: none;
  background: transparent;

}
.product-modal__checkout{
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include xs-devices{
    flex-direction: column-reverse;
  }
}
.product-modal__cart-btn{
  padding: .7rem 1rem;
  background-color: $primary-color;
  text-decoration: none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  cursor: pointer;
  & .symbol-icon{
    margin-right: 1rem;
    fill:#fff;
    cursor: pointer;
  }
  &:hover{
    transform: scale(1.1);
  }
}
.product-modal__price{
  color: #333;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
}
