.cart-data__container{
  display: flex; 
  justify-content: center;
  @include s-devices{
    flex-direction: column;
  }
}
.cart-info__container--cart-empty{
  width: 80%;
  @include s-devices{
    width: 100%;
  }
  // padding: 0 1rem; //e93
}
.cart-list__container{
  margin-bottom: 1rem;
  @include s-devices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}
.cart-item__table{
  // width: 100%;
  border-spacing: 0px;
  @include xs-devices{
    display: none;
  }
  &--mobile{
    display: none;
    border-spacing: 0px;
    @include xs-devices{
      display:table;
      width: 100%;
    }
  }
}
.cart-item__header{
  background-color:$black-color;
  color: $white-color-dark;
  &__title{
    padding: 1.25rem 0;
    &__remove{
      width: 5%;
    }
  }
}
.cart-item__element{
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid $black-color;
  @include s-devices{
    padding: 1rem 0.5rem;
  }
  @include xs-devices{
    padding: 0.5rem;
  }
}
.cart-item--mobile--line-none{
  border-bottom: none;
}
.product__remove{
  cursor: pointer;
}
.product__thumbnail{
  & a{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $gray-color;
  }
}
.product__thumbnail__img{
  max-height: 3rem;
}
.product__name{
  text-align: left;
}
.product__quantity__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product__quantity__title{
  display: none;
  @include xs-devices{
    display: block;
  }
}
.product__quantity__input{
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    width: 3rem;
    padding: .5rem;
    margin: 0 0.5rem;
    background-color: $gray-color-light;
    border: none;
    border-radius: 0.5rem;
    box-shadow: none;
    text-align: center;
  }
}
.cart-update__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  @include xs-devices{
    flex-direction: column;
  }
}
.cart-update__coupon{
  input{
    padding: .25rem;
    margin-right: 2rem;
    @include xs-devices{
      margin-right: 0rem;
      margin-bottom: 1rem;
    }
  }
  button{
    padding: .25rem;
    line-height: 1;
  }
  @include xs-devices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
  }
}
.cart-update__button{
  opacity: .5;
  padding: 0;
  background-color: transparent;
  transition: .3s;
  &:hover{
    transition: .3s;
    opacity: 1;
  }
}
.cart-empty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.product-recommend__container{
  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    li{
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }
}
.product-recommend__img{
  position: relative;
  display: flex;
  justify-content: center;
  & .symbol-icon{
    position: absolute;
    right: 1px;
    width: 2rem;
    height: 2rem;
    fill: $black-color;
    background-color: $white-color;
    border: 2px solid $black-color;
    border-radius: 2rem;
    padding: 3px;
    transition: .3s;
    cursor: pointer;
    &:hover{
      fill: $alert-color-light;
      border: 2px solid $alert-color-light;
      transition: .3s;
    }
  }
  .product-img{
    height: 250px;
  }
}
.product-recommend__price{
  text-align: center;
  padding:.5rem;
}
.product-recommend__link{
  padding: 1rem 0;     
}
.total-price__container{
  width: 30%;
  padding: 0 1rem;
  @include s-devices{
    width: 100%;
  }
}
.total-price__title{
  padding: 1rem 1.5rem;
  color: $white-color-dark;
  background-color:$black-color;
}
.total-price__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $gray-color-light
}
.total-price__option{
  padding: 1rem 1.5rem;
  h4{
    padding: 1rem 0;
  }
  li{
    padding-bottom: 1rem;
  }
}
.total-price__price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  @include m-devices{
    flex-direction: column;
  }
}
.total-price__checkout{
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}
.total-price__img{
  // width: 100%;
  @include s-devices{
    width: 70%;
    margin: auto;
    padding: 1rem;
  }
}

.cart__button{
  padding: .5rem 2rem;
  border: 2px solid$black-color;
  border-radius: 2rem;
  transition: .3s;
  color:$black-color;
  &:hover{
    transition: .3s;
    background-color:$black-color;
    color: $white-color;
  }
}