.cart-data__container{
  display: flex; 
  justify-content: center;
  @include s-devices{
    flex-direction: column;
  }
}
.cart-info__container--cart-empty{
  width: 80%;
  @include s-devices{
    width: 100%;
  }
  // padding: 0 1rem; //e93
}
.cart-list__container{
  margin-bottom: 1rem;
  @include s-devices{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}
.cart-item__table{
  // width: 100%;
  border-spacing: 0px;
  @include m-devices{
    display: none;
  }
  @include s-devices{
    display: table;
  }
  @include xs-devices{
    display: none;
  }
  &--mobile{
    display: none;
    border-spacing: 0px;
    @include m-devices{
      display:table;
      width: 100%;
    }
    @include s-devices{
      display:none;
    }
    @include xs-devices{
      display:table;
      width: 100%;
    }
  }
}
.cart-item__header{
  background-color:$black-color;
  color: $white-color-dark;
  &__title{
    padding: 1.25rem 0;
    &__remove{
      width: 5%;
    }
  }
}
.cart-item__element{
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid $black-color;
  @include s-devices{
    padding: 1rem 0.5rem;
  }
  @include xs-devices{
    padding: 0.5rem;
  }
}
.cart-item--mobile--line-none{
  border-bottom: none;
}
.product__remove{
  cursor: pointer;
}
.product__thumbnail{
  & a{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $gray-color;
  }
}
.product__thumbnail__img{
  max-height: 3rem;
}
.product__name{
  text-align: left;
}
.product__quantity__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product__quantity__title{
  display: none;
  @include xs-devices{
    display: block;
  }
}
.product__quantity__input{
  display: flex;
  justify-content: center;
  align-items: center;
  input{
    width: 3rem;
    padding: .5rem;
    margin: 0 0.5rem;
    background-color: $gray-color-light;
    border: none;
    border-radius: 0.5rem;
    box-shadow: none;
    text-align: center;
  }
}
.cart-update__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  @include xs-devices{
    flex-direction: column;
  }
}
.cart-update__coupon{
  input{
    padding: .25rem;
    margin-right: 2rem;
    @include xs-devices{
      margin-right: 0rem;
      margin-bottom: 1rem;
    }
  }
  button{
    padding: .25rem;
    line-height: 1;
  }
  @include xs-devices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
  }
}
.cart-update__button{
  opacity: .5;
  padding: 0;
  background-color: transparent;
  transition: .3s;
  &:hover{
    transition: .3s;
    opacity: 1;
  }
}
.cart-empty{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
}


.product-recommend__container{
  width: 650px;
  margin: auto;
  @include l-devices{
    width: 545px;
  }
  @include m-devices{
    width: 445px;
  }
  @include s-devices{
    width: 80%;
  }
}
.cart-swiper{
  margin-top: 1rem;
	padding-bottom: 2rem;
}
.product-recommend__card{
	background-color: $white-color;
	border-radius: .75rem;
}
.product-recommend__shape{
	display: flex;
	justify-content: center;
	border-radius: .75rem .75rem 0 0;
	background-color: $gray-color;
	overflow: hidden;
	line-height: 0;
	@include m-devices{
		border-radius: .5rem .5rem 0 0;
	}
}
.product-recommend__img{
	height: 200px;
	@include m-devices{
	height: 170px;
	}
}
.product-recommend__content{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
	padding-top: 1rem;
	position: relative;
	height: 185px;
	@include m-devices{
		padding-top: 1.25rem;
		height: 170px;
	}
}
.product-recommend__price{
  font-size: $big-font-size;
	&--discount{
    font-size: 1.1rem;
		color: $alert-color;
	}
}
.product-recommend__name,.product-recommend__brand{
	font-size: $normal-font-size;
}

.product-recommend__button{
	display: inline-flex;
	position: absolute;
	top: -1.5rem;
	right: 1rem;
	padding: 0.5rem;
	border-radius: 50%;
	line-height: 0;
	background-color: $black-color;
	box-shadow: 0 4px 12px hsla(206,4%,4%,.2);
	@include m-devices{
		top: -1.25rem;
		padding: 0.625rem;
	}
	&:hover{
		background-color: $primary-color-light;
	}
}
.product-recommend__button .symbol-icon{
	fill: $white-color;
}
.product-recommend__link{
  display: flex;
  justify-content: center;
  a{
    padding: 0.5rem 1.5rem;
  }
}


.total-price__container{
  width: 30%;
  padding: 0 1rem;
  @include s-devices{
    width: 100%;
  }
}
.total-price__title{
  padding: 1rem 1.5rem;
  color: $white-color-dark;
  background-color:$black-color;
}
.total-price__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $gray-color-light
}
.total-price__option{
  padding: 1rem 1.5rem;
  h4{
    padding: 1rem 0;
  }
  li{
    padding-bottom: 1rem;
  }
}
.total-price__price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  @include m-devices{
    flex-direction: column;
  }
}
.total-price__checkout{
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}
.total-price__img{
  // width: 100%;
  @include s-devices{
    width: 70%;
    margin: auto;
    padding: 1rem;
  }
}

.cart__button{
  padding: .5rem 2rem;
  border: 2px solid$black-color;
  border-radius: 2rem;
  transition: .3s;
  color:$black-color;
  &:hover{
    transition: .3s;
    background-color:$black-color;
    color: $white-color;
  }
}