.course-banner{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.course-banner__background{
  width: 100%;
  height: 70vh;
  object-fit: cover;
  opacity: 0.9;
}
.course-banner__content{
  width: 80%;
  position: absolute;
}
.course-banner__title{
  padding-bottom: 1rem;
  color: $white-color;
  font-weight: $font-semibold;
  font-size: $huge-font-size;
}
.course-banner__description{
  color: $white-color;
  font-size: $normal-font-size;
}
.course-info__container{
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  padding: 3rem 0;
  @include s-devices{
    flex-direction: column;
    align-items: center; 
  }
}
.course-info__content{
  width: 30%;
  @include s-devices{
    width: 60%;
    padding: 1rem 0;
  }
}
.course-info__title{
  font-size: $bigger-font-size;
  padding-bottom: 1rem;
  padding-left: 1rem;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 1.5rem;
    background-color: $primary-color;
  }
  @include s-devices{
    padding-bottom: 0rem;
  }
}
.current-activity{
  background-color: $primary-color-light-opacity;
  margin-bottom: 5rem;
}
.current-activity__content{
  display: flex;
  justify-content: center;
  padding: 5rem;
}
.current-activity__title{
  font-size: $huge-font-size;
  text-align: center;
}