.location-banner{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.location-banner__video{
  width: 200%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  overflow: hidden;
}
.location-banner__content{
  width: 80%;
  position: absolute;
}
.location-banner__title{
  padding-bottom: 1rem;
  color: $white-color;
  font-weight: $font-semibold;
  font-size: $huge-font-size;
}
.location-banner__description{
  color: $white-color;
  font-size: $normal-font-size;
  padding-right: 2rem;
}

.store__card__container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 3rem 0;
  @include l-devices{
    justify-content: center;
    grid-template-columns: repeat(2,45%);
  }
  @include m-devices{
    grid-template-columns: repeat(2,50%);
  }
  @include s-devices{
    grid-template-columns: repeat(1,65%);
  }
  @include xs-devices{
    grid-template-columns: repeat(1,90%);
  }
}
.store__card{
  margin: 1rem;
  background-color: $black-color;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.18);
}
.store__card__background{
  position: relative;
  clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
  &:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
  }
}
.store__card__pic{
  width: 100%;
  display: block;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
.store__card__content{
  padding: 3rem; 
  @include xs-devices{
    padding: 3rem 2rem;
  }
}
.store__card__title{
  color: $white-color;
  font-weight: $font-semibold;
  font-size: $bigger-font-size;
  margin: 10px 0 15px 0;
}
.store__card__description{
  color: $text-color-light;
  font-size: $normal-font-size;
  line-height: 1.3;
}