.banner{
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.banner__img__container{
  width: 100%;
  height: 70vh;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 55% 95%, 50% 100%, 45% 95%, 0 95%);
  overflow: hidden;
  @include xs-devices{
    height: 75vh;
  }
}
.banner__content{
  width: 60vw;
  padding: 4rem 5rem 3rem;
  background-color: $white-color;
  border: 1px solid $black-color;
  border-top: 5px solid $black-color;
  z-index: 2;
  margin: auto;
  text-align: center;
  @include m-devices{
    width: 75vw;
  }
  @include s-devices{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include xs-devices{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.banner__title{
  font-size: 3rem;
  margin-top: 0;
  @include s-devices{
    font-size: $grand-font-size;
  }
}
.banner__description{
  font-size: $normal-font-size;
}
.product-list{
  width: 80%;
  margin: auto;
  @include l-devices{
    width: 90%;
  }
  @include m-devices{
    width: 100%;
  }
}
.product-list__sort-btn{
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  padding-top: 0;
  @include xs-devices{
    justify-content: center;
  }
}
.product-list__menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.product-list__menu__item{
  padding: 1rem 3.5rem;
  border-top: 1px solid $black-color;
  border-bottom: 1px solid $black-color;
  background-color: $white-color-dark;
  transition: .5s;
  &:hover{
    background-color: $black-color-light;
    color: $white-color;
  }
  @include s-devices{
    padding: 1rem 2.5rem;
  }
  @include xs-devices{
    padding: 1rem 1.5rem;
  }
  @include xxs-devices{
    padding: 1rem 1rem;
  }
}