// BASE
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: $body-font;
  font-size: $normal-font-size;
}

body {
  background-color: $darkWhite;
  color: $darkGray;
}

input:focus {
  outline: none;
}

h1,
h2,
h3 {
  font-weight: $font-medium;
}
h1{
  font-size: $huge-font-size;
}
h2{
  font-size: $large-font-size;
}
h3{
  font-size: $bigger-font-size;
}
h4{
  font-size: $big-font-size;
}
h5{
  font-size: $normal-font-size;
}

ul {
  list-style: none;
}

a {
  line-height: 0;
  text-decoration: none;
  color: $darkGray;
  &:hover {
    text-decoration: none;
    // color: $brown;
    // transition: all .3s;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
select{
  border: none;
}
select:focus-visible{
  outline: none;
}

label {
  padding: 0;
  margin: 0 0.5rem;
  cursor: pointer;
}

// img {
//   max-width: 100%;
//   height: auto;
// }
